# SPDX-FileCopyrightText: : 2017-2023 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

.snakemake*
.ipynb_checkpoints
__pycache__
*dconf
gurobi.log
.vscode
*.orig

/bak
/resources
/resources*
/results
/networks
/benchmarks
/logs
/data/*
/cutouts

doc/_build

config.yaml

dconf

dask-worker-space/
publications.jrc.ec.europa.eu/

*.org

*.nc

*~
/scripts/old

*.pyc
/cutouts
/tmp
/pypsa

*.xlsx

config.yaml

doc/_build

*.xls

*.geojson

merger-todos.md

!/data/costs_*.csv
