# SPDX-FileCopyrightText: : 2017-2023 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: MIT

name: pypsa-eur
channels:
- conda-forge
- bioconda
- http://conda.anaconda.org/gurobi
dependencies:
- python>=3.8
- pip

- atlite>=0.2.9
- dask

- gurobi

  # Dependencies of the workflow itself
- xlrd
- openpyxl!=3.1.1
- pycountry
- seaborn
- snakemake-minimal
- memory_profiler
- yaml
- pytables
- lxml
- powerplantmatching>=0.5.5
- numpy<1.24 # Keep below 1.24 until vresutils gets a new release that fixes deprecations.
- pandas>=1.4
- geopandas>=0.11.0
- xarray
- netcdf4
- networkx
- scipy
- shapely>=2.0
- pyomo
- matplotlib<3.6
- proj
- fiona
- country_converter
- cfgrib

  # Keep in conda environment when calling ipython
- ipython

  # GIS dependencies:
- cartopy
- descartes
- rasterio!=1.2.10

  # PyPSA-Eur-Sec Dependencies
- geopy
- tqdm
- pytz
- tabula-py
- pyxlsb

- pip:
  - vresutils>=0.3.1
  - tsam>=1.1.0
  - git+https://github.com/PyPSA/PyPSA.git@be05f3c3467a4be986db129afc820ad2d2032d84
